.conditions {
    position: relative;
    padding-top: 45px;
    min-height: 1500px;
    background: url('../images/conditions-bg.jpg') center / cover no-repeat;
    &__title {
        margin-bottom: 240px;
    }

    &__bg-item {
        position: absolute;
        top: -157px;
        right: -517px;

        img {
            height: 1090px;
        }
    }

    &__box {
        position: relative;
        background: url('../images/conditions-back-noshadow.svg') center / cover no-repeat;
        filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.3));
        width: 774px;
        height: 676px;
        padding: 55px;
    }

    &__car {
        position: absolute;
        right: -1008px;
        top: 89px;
        width: 1782px;

        img {
            width: 1788px;
            object-fit: cover;
        }
    }

    &__item {
        position: relative;
        padding-left: 65px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 120%;
        background: url('../images/check-icon.png') left no-repeat;
    }
}
