@media (max-width: 1820px) {
    
    .calculator__benefits-item {
        max-width: calc(50% - 60px);
    }
}

@media (max-width: 1720px) {
    .benefits {
        &__item--1 {
            left: -30px;
            top: 160px;
        }
        &__item--2 {
            left: 270px;
        }
        &__item--3 {
            right: 110px;
        }
        &__item--4 {
            left: 115px;
        }
    }

    .steps__bg-item--right {
        right: -120px;
    }
}

@media (max-width: 1670px) {
    .steps__bg-item--left {
        left: 5vw;
    }
    .cars-slider__arrow--prev {
        margin-right: 10px;
    }
    .cars-slider__arrow--next {
        margin-left: 10px;
    }

    .questions {
        &__manager {
            right: -138px;
            top: 155px;

            &::before {
                bottom: -75px;
                left: -50px;
            }
        }
    }
}

@media (max-width: 1600px) {
    .conditions__bg-item {
        right: -50%;
        img {
            height: 665px;
        }
    }
    .reviews {
        &__slider {
            margin: 0 150px;
        }
        .reviews-button-next {
            right: 60px;
        }
        .reviews-button-prev {
            left: 60px;
        }
    }
}

@media (max-width: 1570px) {
    .questions {
        &__inner {
            align-items: stretch;
        }
        &__right {
            margin-top: 250px;
            margin-left: 85px;
        }
        &__item-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
        }
        &__manager-name {
            font-size: 16px;
        }
    }
    .about__info {
        margin-right: 140px;
    }
    .about__inner {
        min-height: 1000px;
    }
    .calculator {
        &__benefits {
            margin-left: -15px;
            margin-right: -15px;
        }
        &__benefits-item {
            margin-left: 15px;
            margin-right: 15px;
            max-width: calc(50% - 30px);
        }
        &__form {
            margin-right: 15px;
            max-width: 600px;
        }
    }
    .steps__bg {
        display: none;
    }
    .cars-slider__item {
        max-width: calc(33.33% - 18px);
    }
    .benefits {
        &__item {
            width: 380px;
            height: 220px;
            padding: 50px;
            padding-left: 30px;
            padding-top: 54px;
            padding-right: 110px;
            background-size: cover;
        }

        &__item-title {
            font-size: 14px;
        }

        &__item-text {
            font-size: 12px;
        }

        &__car img {
            width: 900px;
        }

        &__item--left {
            padding-right: 50px;
            padding-left: 110px;
        }

        &__item--5 {
            right: 250px;
        }
    }

    
}

@media (max-width: 1400px) {
    .partners {
        &__content {
            margin-right: 60px;
        }
    }
    .benefits__item--2 {
        left: 100px;
    }
    .benefits__item--5 {
        right: 150px;
    }
}

@media (max-width: 1220px) {
    .benefits {
        padding-bottom: 100px;
        &__bg {
            display: block;
        }
        &__car {
            position: absolute;
            right: -218px;
            top: 45px;
            bottom: 0;
            img {
                width: 1735px;
                max-width: 1735px;
            }
        }
        &__title {
            margin-bottom: 100px;
        }
        &__inner {
            min-height: 930px;
            padding-top: 200px;
        }
        &__item--1 {
            top: 230px;
        }

        &__item--4 {
            top: 530px;
        }

        &__item--3 {
            top: 87px;
        }
        
        &__item--5 {
            top: 387px;
        }
        
        &__item--6 {
            top: 687px;
        }
        
        &__item--1,
        &__item--2,
        &__item--4 {
            right: auto;
            left: 0;
        }
        &__item--3,
        &__item--5,
        &__item--6 {
            left: auto;
            right: 0;
            bottom: auto;
        }
    }
    .partners {
        &__list {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 0;
            margin-right: 0;
        }
        &__item {
            margin-bottom: 40px;
            margin-left: 0;
            margin-right: 0;

            &:nth-child(2) {
                order: -1;
            }
        }
    }
    .cars {
        padding-bottom: 80px;
        &__more-btn {
            display: inline-block;
        }
    }
    .cars-slider {
        width: 100%;
        padding: 0;
        padding-top: 30px;
        
        .swiper-wrapper {
            flex-direction: column;
        }
        &__item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 100%;
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
            border-radius: 15px;
            margin-bottom: 40px;
            padding-bottom: 0;
        }

        &__checkbox {
            &:checked {
                & ~ .cars-slider__wrapper .cars-slider__item--business {
                    display: flex;
                }
                & ~ .cars-slider__wrapper :not(.cars-slider__item--business) {
                    display: none;
                }

            }
        }
        &__img {
            background-position: center bottom -50px;
            flex: 1 1 55%;
            height: auto;
            border-radius: 15px 0 0 15px;
        }
        &__pricing {
            margin-bottom: 30px;
        }
        &__arrow {
            display: none;
        }
        &__info {
            flex: 1 1 45%;
            padding: 64px 35px;
            td {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }
            tr {
                margin-bottom: 15px;
                display: flex;
                justify-content: space-between;
            }
        }
        &__price-old {
            font-size: 16px;
            line-height: 20px;
        }
        &__price-new {
            font-size: 26px;
            line-height: 32px;
        }
        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 30px;
        }
        &__banner {
            top: 40px;
            bottom: auto;
        }
    }
}

@media (max-width: 1366px) {
    .header {
        &__logo {
            margin-right: 35px;
        }
    }
    .navigation li {
        margin-left: 20px;
    }
}

@media (max-width: 1350px) {
    .conditions__bg-item {
        right: -300px;
        top: 151px;
    }
    .questions {
        padding: 70px 0;
        &__bg-item {
            right: -171px;
            top: -122px;
        }
        &__right {
            max-width: 450px;
        }
    }

    .accordion {
        &__item-title {
            padding: 30px 25px;
            padding-right: 50px;
        }
        &__item.open {
            padding: 30px 25px;
            padding-right: 50px;
        }
    }
    .reviews {
        &__slider {
            margin: 0 100px;
        }
        .reviews-button-next {
            right: 0;
        }
        .reviews-button-prev {
            left: 0;
        }
    }
    .calculator {
        padding-top: 150px;
        padding-bottom: 55px;
        &__inner {
            flex-direction: column;
        }
        &__form {
            margin-bottom: 60px;
            max-width: 100%;
        }
        &__foot-item {
            &:first-child {
                max-width: 70%;
            }
            &:last-child {
                max-width: 30%;
            }
        }
        &__benefits {
            margin-left: -15px;
            margin-right: -15px;
        }
        &__benefits-item {
            max-width: calc(50% - 30px);
        }
        &__form {
            margin-right: 0;
        }
    }
    .steps-nav-slider {
        margin-left: 100px;
        &__title {
            max-width: 120px;
        }
        &__line {
            width: 140px;
            right: -100px;
        }
    }
    .steps-main-slider {
        padding-bottom: 90px;
        height: auto;

        &__content {
            padding-top: 0;
            margin-left: 15px;
        }

        &__img {
            margin-right: 15px;
            img {
                height: 100%;
            }
        }

        &__item {
            align-items: flex-end;
        }

        &__btn {
            background: linear-gradient(360deg, #FCCB05 0%, #FFE57D 100%);
            box-shadow: inset 0px -10px 4px #E3BA15, inset 0px -15px 4px #FFD632;
            margin-top: 20px;
        }

        .swiper-pagination {
            bottom: 12px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            top: auto;
            transform: translateX(-50%);
            left: calc(50% - 150px);
            width: 50px;
            height: 50px;
            bottom: 0;

            &::before,
            &::after {
                height: 11px;
                width: 2px;
                top: 62%;
            }

            &::after {
                top: 44%;
            }
            
        }

        .swiper-button-prev {
            &::before {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            &::after {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        .swiper-button-next {
            left: auto;
            right: calc(50% - 200px);
        }
    }
}

@media (max-width: 1280px) {
    .about {
        &__num {
            font-weight: 800;
            font-size: 72px;
        }
        &__caption {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
        &__info {
            margin-right: 0;
        }
        &__box {
            max-width: 510px;
            padding: 30px;
            padding-top: 37px;
            background: radial-gradient(circle at 50% 0, transparent calc(45px - 1px), #fff 45px);
        }
    
        &__icon {
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
        }
    
    }
}

@media (max-width: 1150px) {
    .footer {
        &__copy {
            margin-top: 20px;
        }
        &__inputs {
            flex-wrap: wrap;
        }
        &__logo {
            margin-bottom: 25px;
        }
        &__input {
            margin: 0;
            max-width: calc(50% - 7px);

            &:nth-child(2) {
                margin-left: 14px;
            }
        }
    
        &__btn {
            margin-top: 15px;
            max-width: 100%;
        }
    }
    .about {
        background: url('../images/about-bg-tablet.png') center / cover no-repeat;
    }
}

@media (max-width: 1250px) {
    .conditions__bg-item {
        z-index: 3;
        right: -244px;
        top: 135px;
        img {
            height: 400px;
        }
    }
    .contacts__box {
        left: 75px;
    }
    .reviews {
        &__inner {
            margin: 0 -50px;
        }
        &__slider {
            margin: 0 15px;
        }
        .reviews-button-next {
            display: none;
        }
        .reviews-button-prev {
            display: none;
        }
        &__name {
            font-size: 16px;
            line-height: 20px;
        }
        &__profit {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    
    }
    .conditions {
        min-height: 1000px;

        &__car {
            // right: -834px;
            // top: 36px;
            // width: 1280px;

            right: -569px;
            top: 123px;
            width: 1011px;
    
            img {
                width: 100%;
            }
        }
        &__title {
            margin-bottom: 72px;
        }
        &__item {
            background-size: 35px;
            font-size: 14px;
            line-height: 120%;
            margin-bottom: 10px;
        }
        &__box {
            margin-top: 0;
            width: 575px;
            height: 480px;
            background-image: url('../images/conditions-back-tablet.svg');
            padding: 70px;
            padding-top: 60px;
        }

        
    }
    .connect {
        &__icon-mob {
            display: block;
        }
        &__icon {
            display: none;
        }
        &__img {
            img {
                object-fit: cover;
            }
        }
        &__benefits {
            max-width: 420px;
        }
        &__benefits-list {
            margin-bottom: 25px;
        }
        &__benefits-item {
            margin-left: 0;
            margin-bottom: 10px;

            span {
                margin-left: 25px;
            }

            &:nth-child(1) {
                margin-left: 0;
                margin-bottom: 17px;
                span {
                    margin-left: 8px;
                }
            }
            &:nth-child(2) {
                margin-left: 0;
                margin-bottom: 10px;

                span {
                    margin-left: 15px;
                }
            }
            &:nth-child(3) {
                margin-left: 0;
            }
            &:nth-child(4) {
                margin-left: 0;
                span {
                    margin-left: 25px;
                }
            }
            
        }
        &__benefits-item {
            font-size: 18px;
            line-height: 22px;

        }
        &__benefits-btn {
            margin: 0;
            padding: 30px;
            font-size: 14px;
            line-height: 120%;
            &::after {
                content: none;
            }
        }
    }
    .first-screen {
        background: url('../images/hero-bg.jpg') no-repeat center left 42% /cover;
    }

    .hero {
        &__foot {
            margin-left: 280px;
            margin-top: 20px;
        }
        &__right {
            margin-bottom: 125px;
        }
        &__box {
            margin-bottom: 25px;
            margin-left: 280px;
        }
        &__title {
            font-size: 36px;
            margin-bottom: 15px;
        }
        &__subtitle {
            font-size: 20px;
        }
        
    }

    .header {
        &__navigation {
            display: none;
        }
        &__left .header__geo {
            display: none;
        }
        &__call-btn {
            border-bottom: 1px dashed $main;
            padding-bottom: 0;
            &::after {
                content: none;
            }
        }
    }
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        transform: translateX(100%);
        width: 320px;
        height: 100vh;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 35px;

        &__btn {
            display: block;
        }

        .navigation {
            margin-right: 0;
        }

        .navigation__list {
            flex-direction: column;
            align-items: flex-end;
        }
        
        .navigation li {
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            margin-bottom: 50px;
            width: 100%;
            text-align: right;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .menu__head {
            display: flex;   
        }
        .header__call {
            margin-top: 70px;
            text-align: right;
        }

    }
    
}

@media (max-width: 1024px) {
    .conditions__bg-item {
        right: -300px;
        top: 157px;
    }
}

@media (max-width: 1000px) {
    .questions {
        &__right {
            margin-left: 30px;
        }
    }
    .hero {
        &__foot {
            margin-left: 240px;
        }
        
        &__box {
            margin-bottom: 25px;
            margin-left: 240px;
        }
    }
}

@media (max-width: 951px) {
    .cars-slider {
        overflow: visible;
        &__item {
            box-shadow: 0px 0px 36.5072px rgba(0, 0, 0, 0.15);
            border-radius: 13.6902px;
        }
        &__img {
            background-position: center bottom;
        }
    }

    .benefits {
        &__item--1,
        &__item--2,
        &__item--4 {
            left: -35px;
        }
        &__item--3,
        &__item--5,
        &__item--6 {
            right: -35px;
        }
    }
    .steps-nav-slider__line {
        width: 116px;
        right: -60px;
    }
    .steps-nav-slider {
        margin-left: 0;
        margin-bottom: 35px;
    }
    
}

@media (max-width: 880px) {
    .accordion {
        margin-bottom: 5px;
        &__item {
            font-size: 14px;
            line-height: 120%;
            margin-bottom: 15px;

            &.open {
                padding: 25px;
                padding-right: 50px;
            }
        }
        &__btn {
            display: block;
        }
        &__item-title {
            padding: 25px;
            padding-right: 50px;
        }
    }
    .questions {
        background: url('../images/question-bg.png') left -253px bottom -290px no-repeat;
        padding: 50px 0;
        &__title {
            margin-bottom: 30px;
        }
        &__left {
            display: none;
        }
        &__right {
            max-width: 600px;
            margin: 0 auto;
        }
        
    }
    .accordion__item.open .accordion__content{
        margin-top: 20px;
        font-size: 13px;
    }
    .accordion__item.open .accordion__item-title{
        min-height: auto;
    }
    
    .accordion__item-title {
        min-height: 65px;
    }
    .accordion__btn {
        width: 100%;
        max-width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 845px) {
    .about {
    
        &__num {
            font-size: 48px;
        }
        &__caption {
            font-size: 14px;
            line-height: 17px;
        }
        &__info {
            position: absolute;
            margin-right: 0;
            right: 60px;
        }
        &__box {
            background: radial-gradient(circle at 100% calc(100% - 90px), transparent calc(24px - 1px), #fff 24px);
            margin-left: 13px;
            padding: 20px;
            padding-right: 33px;
            opacity: 0;
        }
        &__box-title {
            font-size: 15.552px;
            line-height: 19px;
        }
        &__box-text {
            font-size: 12.096px;
            line-height: 160%;
        }
        &__icon {
            width: 43px;
            height: 43px;
            right: -26px;
            left: auto;
            top: auto;
            bottom: 68px;
            transform: none;
            z-index: 50;
        }
    }
    .benefits {
        padding-top: 100px;
        .swiper-pagination,
        .benefits-button-prev,
        .benefits-button-next {
            display: block;
        }
        .benefits-button-next,
        .benefits-button-prev {
            left: 0;
            position: absolute;
            bottom: 0;
            width: 50px;
            height: 50px;
            border: 2px solid $main;
            border-radius: 50%;
            z-index: 20;
            flex-shrink: 0;
            cursor: pointer;
            border: 3px solid rgba(252, 203, 5, 1);
            transition: .3s ease;

            &::before, &::after {
                position: absolute;
                content: "";
                width: 10px;
                height: 2px;
                left: 50%;
                top: 49%;
                background-color: $main;
                transform-origin: left;
                transform: translate(-50%, -50%) rotate(45deg);
                transition: .3s ease;
            }
    
            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
                top: 51%;
            }
        }
        .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: 13px;
        }
        &__title {
            margin-bottom: 30px;
        }
        &__item-title {
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 120%;
        }
        &__item-text {
            font-size: 12px;
            line-height: 140%;
        }
        .benefits-button-next {
            right: 0;
            left: auto;

            &::before, &::after {
                transform-origin: right;
                top: 51%;
            }
            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
                top: 49%;
            }
        }
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            &.swiper-pagination-bullet-active {
                background-color: $main;
            }
        }
        &__bg {
            display: none;
        }
        &__slider {
            height: 550px;
        }
        &__car {
            display: none;
        }
        &__inner {
            padding-top: 0;
            min-height: auto;
        }
        
        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: static;
            box-sizing: border-box;
            padding: 0;
            max-width: 510px;
            width: 100%;
            max-width: 510px;
            width: 100%;
            height: 250px;
            padding: 50px;
            padding-right: 85px;
            background-size: cover;

            &--1 {
                background-image: url('../images/benefits-item-1-mob.svg');
            }
            &--2 {
                background-image: url('../images/benefits-item-2-mob.svg');
            }
            &--3 {
                background-image: url('../images/benefits-item-3-mob.svg');
            }
            &--4 {
                background-image: url('../images/benefits-item-4-mob.svg');
            }
            &--5 {
                background-image: url('../images/benefits-item-5-mob.svg');
            }
            &--6 {
                background-image: url('../images/benefits-item-6-mob.svg');
            }
        }
        
        &__slider-item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__item--left {
            justify-content: flex-start;
            .benefits__item-inner {
                padding-right: 0;
                padding-left: 15px;
            }
        }
    }
}

@media (max-width: 991px) {
    .reviews {
        &__item {
            width: 230px;
        }
    }
    
    .hero {
        &__foot {
            flex-direction: column;
            align-items: flex-start;
        }
        &__foot-item {
            margin-left: 0;
            margin-bottom: 23px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        
    }
}

@media (max-width: 768px) {
    
    .conditions {
        min-height: 700px;

        &__bg-item {
            display: none;
        }

        &__car {
            right: -390px;
            top: 114px;
            width: 637px;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__item {
            background-size: 21px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 30px;
        }
        &__box {
            background-image: url('../images/conditions-back-mobile.svg');
            padding: 30px;
            width: 300px;
            height: 330px;
        }
    }
    .connect {
        &__title {
            margin-bottom: 40px;
        }
        &__img {
            display: none;
        }
        &__benefits {
            max-width: 100%;
        }
        &__benefits-list {
            max-width: 100%;
        }
        &__benefits-btn {
            font-size: 12px;
            line-height: 120%;
            padding: 28px 12px;
        }
        
        .connect__benefits-item {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 30px;
            margin-left: 0;

            &:nth-child(1) {
                span {
                    margin-left: 8px;
                }
            }
            &:nth-child(2) {
                span {
                    margin-left: 15px;
                }
            }
            
            span {
                margin-left: 25px;
            }
        }
    }
    .steps__title {
        margin-bottom: 35px;
    }
    .steps-nav-slider {
        &__item {
            width: 130px;
        }
        height: auto;
        width: 700px;
        
        &__line {
            width: 120px;
            right: -122px;
        }
        &__title {
            max-width: 95px;
            font-size: 16px;
            line-height: 20px;
        }
        &__step {
            font-size: 12px;
            line-height: 15px;
        }
        &__circle {
            width: 25px;
            height: 25px;
        }
    }
    .steps-main-slider {
        padding-bottom: 75px;
        &__item {
            flex-direction: column;
        }
        &__content {
            margin-left: 0;
            max-width: 100%;
        }
        &__img {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
            img {
                height: auto;
                width: 100%;
                max-height: 400px;
            }
        }
        .swiper-pagination .swiper-pagination-bullet {
            margin: 0 12px;
        }
        &__btn {
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
        }
        &__title {
            font-size: 18px;
            line-height: 120%;
        }
        &__text {
            font-size: 14px;
            line-height: 150%;
        }
    }
    .header__right > .header__call {
        display: none;
    }
    .header__logo {
        display: none;
    }

    .header__logo-mobile {
        display: block;
    }
    .header__btn {
        width: 50px;

        span, &::before, &::after {
            margin-bottom: 10px;
        }
    }
    .cars {
        &__head {
            flex-direction: column;
            align-items: flex-start;
        }
        &__title {
            margin-bottom: 15px;
        }
        &__subtitle {
            margin-left: 0;
            font-size: 14px;
            line-height: 140%;
        }
        &__type {
            justify-content: flex-start;
        }
        &__slider {
            padding-top: 20px;
        }
    }
    .cars-slider {
        &__item {
            flex-direction: column;
        }
        &__img {
            background-position: center bottom -70px;
            height: 330px;
            width: 100%;
            flex: auto;
        }
        &__banner {
            bottom: 0;
            top: auto;
            font-size: 13px;
        }
        &__info {
            flex: auto;
            padding: 27px;
        }
    }
}

@media (max-width: 750px) {
    .calculator {
        padding-top: 100px;
        &__title {
            margin-bottom: 35px;
        }
        &__form {
            position: relative;
            padding: 35px 24px;
        }
        &__profit {
            position: absolute;
            top: 140px;
        }
        &__range {
            margin-bottom: 95px;
        }
        &__head {
            margin-bottom: 20px;
        }
        &__content-title {
            font-size: 16px;
            line-height: 20px;
        }
        &__foot {
            flex-direction: column;
        }
        &__foot-item {
            
            button, input {
                font-size: 14px;
                line-height: 17px;
            }

            &:first-child {
                margin-bottom: 10px;
            }

            &:last-child, 
            &:first-child {
                margin-left: 0;
                max-width: 100%;
            }
        }
        &__benefits {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: -30px;
        }
        &__benefits-item {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 140%;

            span {
                margin-left: 13px;
            }

            &:nth-child(4) span {
                margin-left: 3px;
            }
        }
        &__benefits-img {
            display: none;
        }
        &__benefits-img-mob {
            display: block;
        }
        
    }
}

@media (max-width: 700px) {
    .footer {
        padding-bottom: 60px;
        padding-top: 10px;
        &__logo-block {
            margin-bottom: 40px;
            max-width: 100%;
        }
        &__copy {
            text-align: left;
            margin-top: 10px;
        }
        &__form {
            max-width: 100%;
            margin-left: 0;
        }
        &__inputs {
            flex-direction: column;
        }
        &__input {
            margin-bottom: 10px;
            width: 100%;
            max-width: 100%;
            &:nth-child(2) {
                margin-left: 0;
                margin-right: 0;
            }
        }
        &__btn {
            margin-top: 5px;
            padding-top: 11px;
            padding-bottom: 17px;
            font-size: 14px;
            line-height: 120%;
            background: linear-gradient(360deg, #FCCB05 0%, #FFE57D 100%);
            box-shadow: inset 0px -5px 4px #E3BA15, inset 0px -10px 4px #FFD632;
        }
        &__inner {
            flex-direction: column;
        }
        &__text {
            max-width: 100%;
        }
    }
    .ymaps-2-1-78-map {
        height: 630px !important;
    }
    .contacts {
        &__map {
            padding-bottom: 100px;
        }
        &__box {
            top: 65px;
            left: 5px;
        }
    }
    .hero {
        &__title {
            font-size: 24px;
            margin-bottom: 5px;
        }
        &__subtitle {
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__foot {
            margin-top: 25px;
            margin-left: 0;
        }
        &__box {
            margin-left: 0;
        }
        &__foot-item {
            margin-bottom: 15px;
        }
        &__benefits {
            display: none;
        }
        &__right {
            margin-bottom: 0;
        }
    }
}
@media (max-width: 600px) {
    .about {
        background: url('../images/tree-mobil.png') left no-repeat, 
        url('../images/about-bg-tablet.png') center / cover no-repeat;

        &__inner {
            min-height: 645px;
        }
    }
    
    .partners {
        padding: 40px 0;
        &__inner {
            flex-direction: column;
        }
        &__content {
            margin-bottom: 40px;
        }
        &__list {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .header {
        padding: 15px 0;
    }
    .cars-slider {
        &__img {
            height: 250px;
            background-position: center bottom -100px;
        }
        &__info td {
            font-size: 13px;
            line-height: 16px;
        }
    }
    
}

@media (max-width: 480px) {
    .benefits {
        &__slider {
            height: auto;
            padding-bottom: 60px;
        }
        &__item-inner {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        &__item {
            background-size: cover;
            padding-top: 25px;
            padding: 30px;
            padding-left: 20px;
            padding-right: 100px;
            min-height: 150px;
            height: auto;
            width: 310px;
        }
    }
    .questions {
        background: url("../images/question-bg.png") left -505px bottom -290px no-repeat;
    }
    .benefits__title {
        font-size: 23px;
    }
    .steps-main-slider {
        .swiper-button-next {
            right: 0;
            transform: none;
        }
        .swiper-button-prev {
            left: 0;
            transform: none;
        }
    }
    .cars-slider {
        &__item {
        background-position: center bottom -50px;
        }
        &__title {
            font-size: 17px;
            line-height: 21px;
            margin-bottom: 18px;
        }
        &__img {
            height: 200px;
        }
        &__info tr {
            margin-bottom: 6px;
        }
        &__pricing {
            margin-bottom: 10px;
        }
        &__price-new {
            font-size: 22px;
            line-height: 28px;
        }
        &__price-old {
            font-size: 12px;
            line-height: 16px;
        }
        &__slider-btn {
            font-size: 12px;
            line-height: 16px;
        }
    }

}

@media (max-width: 430px) {
    .contacts {
        &__box {
            background-image: url('../images/contacts-back-mob.svg');
            width: 310px;
            height: 335px;
            left: 0;
            right: 0;
            margin: 0 auto; 
        }
        
        &__slider {
            height: 255px;
            padding-bottom: 48px;
        }

        &__slider-item {
            height: 140px;
        }
    }
    .benefits {
        &__item {
            padding: 30px;
            padding-right: 100px;
            height: 230px;
            width: 100%;
            // padding-top: 25px;
            padding-top: 40px;
        }
        &__slider {
            height: auto;
            padding-bottom: 40px;
        }
        &__item-inner {
            max-width: 200px;
        }
    }
}
@media (max-width: 400px) {
    .cars-slider {
        &__info {
            padding: 22px;
        }
        &__img {
            background-position: center bottom 0px;
        }
    }
}
