@media (max-width: 1670px) {
    .cars-slider__arrow--prev {
        margin-right: 10px;
    }
    .cars-slider__arrow--next {
        margin-left: 10px;
    }
}
@media (max-width: 1570px) {
    .cars-slider__item {
        max-width: calc(33.33% - 18px);
    }
}

@media (max-width: 1220px) {
    .cars {
        padding-bottom: 80px;
        &__more-btn {
            display: inline-block;
        }
    }
    .cars-slider {
        width: 100%;
        padding: 0;
        padding-top: 30px;
        
        .swiper-wrapper {
            flex-direction: column;
        }
        &__item {
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
            border-radius: 15px;
            margin-bottom: 40px;
            padding-bottom: 0;
        }

        &__checkbox {
            &:checked {
                & ~ .cars-slider__wrapper .cars-slider__item--business {
                    display: flex;
                }
                & ~ .cars-slider__wrapper :not(.cars-slider__item--business) {
                    display: none;
                }

            }
        }
        &__img {
            background-position: center bottom -50px;
            flex: 1 1 55%;
            height: auto;
            border-radius: 15px 0 0 15px;
        }
        &__pricing {
            margin-bottom: 30px;
        }
        &__arrow {
            display: none;
        }
        &__info {
            flex: 1 1 45%;
            padding: 64px 35px;
            td {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }
            tr {
                margin-bottom: 15px;
                display: flex;
                justify-content: space-between;
            }
        }
        &__price-old {
            font-size: 16px;
            line-height: 20px;
        }
        &__price-new {
            font-size: 26px;
            line-height: 32px;
        }
        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 30px;
        }
        &__banner {
            top: 40px;
            bottom: auto;
        }
    }
}

@media (max-width: 1366px) {
    .header {
        &__logo {
            margin-right: 35px;
        }
    }
    .navigation li {
        margin-left: 20px;
    }
}

@media (max-width: 1280px) {

}

@media (max-width: 1250px) {
    .first-screen {
        background: url('../images/hero-bg.jpg') no-repeat center left 42% /cover;
    }

    .hero {
        &__foot {
            margin-left: 280px;
            margin-top: 20px;
        }
        &__right {
            margin-bottom: 125px;
        }
        &__box {
            margin-bottom: 25px;
            margin-left: 280px;
        }
        &__title {
            font-size: 36px;
            margin-bottom: 15px;
        }
        &__subtitle {
            font-size: 20px;
        }
        
    }

    .header {
        &__navigation {
            display: none;
        }
        &__left .header__geo {
            display: none;
        }
        &__call-btn {
            border-bottom: 1px dashed $main;
            padding-bottom: 0;
            &::after {
                content: none;
            }
        }
    }
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        transform: translateX(100%);
        width: 320px;
        height: 100vh;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 35px;

        &__btn {
            display: block;
        }

        .navigation {
            margin-right: 0;
        }

        .navigation__list {
            flex-direction: column;
            align-items: flex-end;
        }
        
        .navigation li {
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            margin-bottom: 50px;
            width: 100%;
            text-align: right;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .menu__head {
            display: flex;   
        }
        .header__call {
            margin-top: 70px;
            text-align: right;
        }

    }
    
}

@media (max-width: 1024px) {
    
}

@media (max-width: 1000px) {
    .hero {
        &__foot {
            margin-left: 240px;
        }
        
        &__box {
            margin-bottom: 25px;
            margin-left: 240px;
        }
    }
}

@media (max-width: 951px) {
    .cars-slider {
        overflow: visible;
        &__item {
            box-shadow: 0px 0px 36.5072px rgba(0, 0, 0, 0.15);
            border-radius: 13.6902px;
        }
        &__img {
            background-position: center bottom;
        }
    }
}

@media (max-width: 991px) {
    .hero {
        &__foot {
            flex-direction: column;
            align-items: flex-start;
        }
        &__foot-item {
            margin-left: 0;
            margin-bottom: 23px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        
    }
}

@media (max-width: 768px) {
    .header__right > .header__call {
        display: none;
    }
    .header__logo {
        display: none;
    }

    .header__logo-mobile {
        display: block;
    }
    .header__btn {
        width: 50px;

        span, &::before, &::after {
            margin-bottom: 10px;
        }
    }
    .cars {
        &__head {
            flex-direction: column;
            align-items: flex-start;
        }
        &__title {
            margin-bottom: 15px;
        }
        &__subtitle {
            margin-left: 0;
            font-size: 14px;
            line-height: 140%;
        }
        &__type {
            justify-content: flex-start;
        }
        &__slider {
            padding-top: 20px;
        }
    }
    .cars-slider {
        &__item {
            flex-direction: column;
        }
        &__img {
            background-position: center bottom -70px;
            height: 330px;
            width: 100%;
            flex: auto;
        }
        &__banner {
            bottom: 0;
            top: auto;
            font-size: 13px;
        }
        &__info {
            flex: auto;
            padding: 27px;
        }
    }
}

@media (max-width: 700px) {
    .hero {
        &__title {
            font-size: 24px;
            margin-bottom: 5px;
        }
        &__subtitle {
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__foot {
            margin-top: 25px;
            margin-left: 0;
        }
        &__box {
            margin-left: 0;
        }
        &__foot-item {
            margin-bottom: 15px;
        }
        &__benefits {
            display: none;
        }
        &__right {
            margin-bottom: 0;
        }
    }
}
@media (max-width: 600px) {
    .header {
        padding: 15px 0;
    }
    .cars-slider {
        &__img {
            height: 250px;
            background-position: center bottom -100px;
        }
        &__info td {
            font-size: 13px;
            line-height: 16px;
        }
    }
}


@media (max-width: 480px) {
    .cars-slider {
        &__item {
        background-position: center bottom -50px;
        }
        &__title {
            font-size: 17px;
            line-height: 21px;
            margin-bottom: 18px;
        }
        &__img {
            height: 200px;
        }
        &__info tr {
            margin-bottom: 6px;
        }
        &__pricing {
            margin-bottom: 10px;
        }
        &__price-new {
            font-size: 22px;
            line-height: 28px;
        }
        &__price-old {
            font-size: 12px;
            line-height: 16px;
        }
        &__slider-btn {
            font-size: 12px;
            line-height: 16px;
        }
    }
}

@media (max-width: 400px) {
    .cars-slider {
        &__info {
            padding: 22px;
        }
        &__img {
            background-position: center bottom 0px;
        }
    }
}
